// custom styles
$primary:       #2a86b4;
$secondary:     #6e8692;
$success:       #008761;
$info:          #12648C;
$warning:       #F3B73E;
$danger:        #FF5E5B;
$light:         #eeeeee;
$dark:          #001524;

// Accordian styles
$accordion-button-active-bg: #FFFFFF;
$accordion-button-focus-box-shadow: 0;

// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";