// custom styles
$primary:       #2a86b4;
$secondary:     #6e8692;
$success:       #008761;
$info:          #12648C;
$warning:       #F3B73E;
$danger:        #FF5E5B;
$light:         #E4E4E4;
$dark:          #001524;

// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";