/* For defining: (1) Set height top controls + (2) Responsive bottom containers takes up remaining width  */
.contain-parent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.contain-top {
    flex: 0 1 1px;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.contain-bottom {
    flex: 1 1 1px;
    overflow: auto;
}

/* BREAKPOINT CUSTOMIZATION ================================================== [START] */

/* Styling UP TO md (576px) */
@media (max-width: 576px) {
    .btn-resp {
        padding: 0.1rem 0.35rem !important;
        font-size: 0.75rem !important;
        line-height: 1.5 !important;
        border-radius: 0.35rem !important;
    }
}

/* ---------------------------------------------------------------------------- [END] */