/* For defining: (1) Set height top controls + (2) Responsive bottom containers takes up remaining width  */
.contain-parent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.contain-top {
    flex: 0 1 1px;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.contain-bottom {
    flex: 1 1 1px;
    overflow: auto;
}

/* Enabling cursors */
.cursor-pointer {
    cursor: pointer;
    transition: filter 0.3s ease;
}

.cursor-pointer:hover {
    filter: brightness(85%);
}

.hover-border {
    cursor: pointer;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
}

.hover-border:hover {
    box-shadow: 0 0 0 0.125rem #0c0f1a;
}

/* Keyframes to alternate opacity between 1 (visible) and 0 (invisible) */
@keyframes flash {
    0%, 100% {
        opacity: 1; /* fully visible */
    }
    50% {
        opacity: 0.5; /* invisible */
    }
}

/* Apply the animation to the element */
.flash {
    animation: flash 2s infinite ease-in-out; /* 1s duration, infinite loop */
}

/* GMaps Autofill (Allow it to be seen on Modals) */
.pac-container {
    z-index: 1056 !important;
}

/* BREAKPOINT CUSTOMIZATION ================================================== [START] */

/* Styling UP TO md (576px) */
@media (max-width: 576px) {
    .btn-resp {
        padding: 0.1rem 0.35rem !important;
        font-size: 0.75rem !important;
        line-height: 1.5 !important;
        border-radius: 0.35rem !important;
    }
}

/* ---------------------------------------------------------------------------- [END] */